  .font-GS{
    font-family: var(--font-geist-sans), sans-serif;
  }
  
  .font-inter {
    font-family: var(--font-inter), sans-serif;
  }
  
  .font-JBM {
    font-family: var(--font-jetbrains-mono), monospace;
  }
  
  .font-IS {
    font-family: var(--font-instrument-serif), serif;
  }
  
  .font-HG {
    font-family: var(--font-hanken-grotesk), sans-serif;
  }